name: Semgrep Scan
on: [push, pull_request]

jobs:
  semgrep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run Semgrep
        uses: returntocorp/semgrep-action@v1
        with:
          config: auto

      - name: Send Discord Notification
        if: failure() || success()
        run: |
          SUMMARY=$(jq -r '.results | length' semgrep_results.json)
          curl -H "Content-Type: application/json" \
               -X POST \
               -d "{\"content\": \"⚠️ Semgrep found **$SUMMARY** issues in the latest scan in Remote Clinic Repo.\"}" \
               ${{ secrets.DISCORD_WEBHOOK_URL }}
